@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,500;1,700&family=Roboto:wght@400;500&display=swap');


$white: #fff;
$black: #000;
$orange: #de5704;
$blue: #2e7bbf;
$blue-lighter: #4ca2ec;
$gray: #dcdcdc;
$roboto-font:   'Roboto', verdana, sans-serif;
$monst-font: 'Montserrat', verdana, sans-serif;
$small-bp: 700px;
$med-bp: 1200px;

body {
    background: $white;
    font-family: $med-bp;
    margin: 0;
    padding: 0;
}

a { color: $blue; }
a:hover { color: $blue-lighter; }

h1, h2, h3, h4, h5 { font-family: $roboto-font; }

.container { margin: 0 auto; max-width: 95% } // Center containers/wrappers

// NAV
nav {
    padding: 1.5rem 0;

    @media screen and (max-width: $small-bp) {
        margin: 0 auto;
        text-align: center;
        padding: 1.5rem 0;
      }

      @media screen and (max-width: $med-bp) {
          padding: 1.5rem 3rem;
      }
}

// HEADER STARTS HERE
header.hero {
    background: $white url('./images/bg-hero.jpg') center no-repeat;

        @media screen and (max-width: $small-bp) {
            padding: 3rem 1rem;
        }
}

//  LEFT HALF, QUOTES
aside.lead-in {
    color: $white;
    font-family: $roboto-font;

    h1 {
        text-transform: uppercase;
        font-weight: bold;
        margin: 0 0 1em 0;
        font-size: 2em;
    }

    @media screen and (max-width: $small-bp) {
        display: none;
    }

    @media screen and (max-width: $med-bp) {
        font-size: .9em;
    }
}

// BULLET POINTS
ul.tack-off {
    list-style: none;

    .fa-caret-right { 
        color: $orange; 
        margin: 0 .75em 0 0;  
    }

    li { margin: 0 0 .65em 0; }
}

// RIGHT HALF, FORM
aside.contact-us {
    background: $white;
    text-align: center;
    font-family: $monst-font;
    padding: 2rem 1rem;

    h2 {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.1em;
        padding: 0;
    }

    .btn {
        background: $orange;
        border: 0;
        font-weight: light;
        text-transform: uppercase;
    }
}

//  MIDDLE SECTION CONTENT, PRODUCT INFORMATION + FEATURES
section.services {
    h1 {
        background: $blue;
        color: $white;
        font-size: 1.25em;
        font-weight: bold;
        text-align: center;
        padding: .5rem 0;
    }

    .row {
        padding: 1.25rem 0;
    }

    .btn {
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        border-radius: 25px;
        background: $gray;
        margin: .5em .15em;
        font-weight: bold;

        .fa-check {
            color: $blue;
        }

        @media screen and (max-width: $med-bp) {
            margin: .25em .05em;
            font-size: .9em;
        }
    }

    .text-muted {
        margin: .5em 0;
    }

}

// BOTTOM TRIPLE CARDS + NUMBERS
section.company-numbers {
    padding: 3rem 0;

    article {
        text-align: center;

        div {
            border: 1px solid $orange;
            padding: 2rem .5rem;
        }

        @media screen and (max-width: $med-bp) {
            padding: 1.5rem .5rem;
        }

        h2.lead-in {
            color: $orange;
            text-transform: uppercase;
            font-weight: bolder;
            font-size: 1.15em;

            @media screen and (max-width: $med-bp) {
                font-size: 1em;
            }

        }

        h3.numbers {
            font-weight: lighter;
            font-size: 2em;

            @media screen and (max-width: $med-bp) {
                font-size: 1.75em;
            }
            
        }

        p.summary {
            font-size: .90em;

            @media screen and (max-width: $med-bp) {
                font-size: .80em;
            }
        }
    }
}

// FOOTER
footer {
    background: $blue;
    color: $white;
    text-align: center;
    padding: 1rem 0;
    font-size: .9em;

    @media screen and (max-width: $small-bp) {
        padding: .5rem 0;
    }
}