@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,500;1,700&family=Roboto:wght@400;500&display=swap");
body {
  background: #fff;
  font-family: 1200px;
  margin: 0;
  padding: 0; }

a {
  color: #2e7bbf; }

a:hover {
  color: #4ca2ec; }

h1, h2, h3, h4, h5 {
  font-family: "Roboto", verdana, sans-serif; }

.container {
  margin: 0 auto;
  max-width: 95%; }

nav {
  padding: 1.5rem 0; }
  @media screen and (max-width: 700px) {
    nav {
      margin: 0 auto;
      text-align: center;
      padding: 1.5rem 0; } }
  @media screen and (max-width: 1200px) {
    nav {
      padding: 1.5rem 3rem; } }

header.hero {
  background: #fff url("./images/bg-hero.jpg") center no-repeat; }
  @media screen and (max-width: 700px) {
    header.hero {
      padding: 3rem 1rem; } }

aside.lead-in {
  color: #fff;
  font-family: "Roboto", verdana, sans-serif; }
  aside.lead-in h1 {
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 0 1em 0;
    font-size: 2em; }
  @media screen and (max-width: 700px) {
    aside.lead-in {
      display: none; } }
  @media screen and (max-width: 1200px) {
    aside.lead-in {
      font-size: .9em; } }

ul.tack-off {
  list-style: none; }
  ul.tack-off .fa-caret-right {
    color: #de5704;
    margin: 0 .75em 0 0; }
  ul.tack-off li {
    margin: 0 0 .65em 0; }

aside.contact-us {
  background: #fff;
  text-align: center;
  font-family: "Montserrat", verdana, sans-serif;
  padding: 2rem 1rem; }
  aside.contact-us h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.1em;
    padding: 0; }
  aside.contact-us .btn {
    background: #de5704;
    border: 0;
    font-weight: light;
    text-transform: uppercase; }

section.services h1 {
  background: #2e7bbf;
  color: #fff;
  font-size: 1.25em;
  font-weight: bold;
  text-align: center;
  padding: .5rem 0; }
section.services .row {
  padding: 1.25rem 0; }
section.services .btn {
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background: #dcdcdc;
  margin: .5em .15em;
  font-weight: bold; }
  section.services .btn .fa-check {
    color: #2e7bbf; }
  @media screen and (max-width: 1200px) {
    section.services .btn {
      margin: .25em .05em;
      font-size: .9em; } }
section.services .text-muted {
  margin: .5em 0; }

section.company-numbers {
  padding: 3rem 0; }
  section.company-numbers article {
    text-align: center; }
    section.company-numbers article div {
      border: 1px solid #de5704;
      padding: 2rem .5rem; }
    @media screen and (max-width: 1200px) {
      section.company-numbers article {
        padding: 1.5rem .5rem; } }
    section.company-numbers article h2.lead-in {
      color: #de5704;
      text-transform: uppercase;
      font-weight: bolder;
      font-size: 1.15em; }
      @media screen and (max-width: 1200px) {
        section.company-numbers article h2.lead-in {
          font-size: 1em; } }
    section.company-numbers article h3.numbers {
      font-weight: lighter;
      font-size: 2em; }
      @media screen and (max-width: 1200px) {
        section.company-numbers article h3.numbers {
          font-size: 1.75em; } }
    section.company-numbers article p.summary {
      font-size: .90em; }
      @media screen and (max-width: 1200px) {
        section.company-numbers article p.summary {
          font-size: .80em; } }

footer {
  background: #2e7bbf;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
  font-size: .9em; }
  @media screen and (max-width: 700px) {
    footer {
      padding: .5rem 0; } }

/*# sourceMappingURL=style.css.map */
